<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjcrm.entity">


	 <select id="queryAllDept" parameterType="java.lang.String" resultType="com.hjcrm.system.entity.Dept">
		 select
		 	d.deptid,d.deptname,d.deptparaid
		 from hj_dept d
	 </select>

	<select id="queryRoleByDeptId" parameterType="java.lang.String" resultType="com.hjcrm.system.entity.Role">
		  select
			r.roleid,r.rolename,r.deptid
		from hj_role r
		where r.deptid = #{deptid}
	 </select>
	 
	
</mapper> 
